.header > figure { 
    margin-top: 50px;
}

.header__image {
    display: block;
    margin: 0 auto;
    width: 40%;
    position: relative;
    right: 8px;
}

.header__title {
    margin-top: 30px;
    font-size: 18px;
    text-align: center;
}

.search {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search__input {
    padding: 5px 8px;
    width: 195px;
    border: none;
    border-bottom: 1px solid gray;
    outline: none;
    background-color: transparent;
    color: #fff;
    text-align: center;
}

.search__input:focus {
    border-bottom: 1px solid #f5a42b;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(356px, 100%), 1fr));
    gap: 30px;
}